.cardContainer {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.card {
    /*border: 30px solid #000; /* Estilo del borde por defecto */
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    overflow: hidden;
    border-radius: 8px;
    animation: fadeIn 1s ease-in-out;
}

.noBorder {
    border: none; /* Estilo sin borde */
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.cardBody {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.cardImg {
    width: 100%;
    max-height: 650px;
    object-fit: contain;
    display: flex;
    margin: 10px;
    border: 1px solid transparent; /*Margen claro solo para remarcar imagen*/
}

.fileInput {
    display: none;
}

@media (max-width: 1280px ){
    .card {
        margin: 20px;
    }
}

/* Estilos para los marcos */
.marcoCard1 {
    border: 75px solid transparent;
    border-image: url('src/assets/marcos/marco-1.jpg') 75 round; /* Aumentar el ancho del borde */
}

.marcoCard2 {
    border: 75px solid transparent;
    border-image: url('src/assets/marcos/marco-2.jpg') 75 round; /* Aumentar el ancho del borde */
}

.marcoCard4 {
    border: 75px solid transparent;
    border-image: url('src/assets/marcos/marco-4.png') 75 round; /* Aumentar el ancho del borde */
}

.marcoCard5 {
    border: 75px solid transparent;
    border-image: url('src/assets/marcos/marco-5.png') 75 round; /* Aumentar el ancho del borde */
}

/* Agrega más estilos para los marcos según sea necesario */