.card {
    /* Estilos para la clase card */
    margin-left: 177px;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 796px;
    height: 1040px;
    border: 30px solid #000;
    border-radius: 4px;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cardBody {
    /* Estilos para la clase cardBody */
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cardImg {
    /* Estilos para la clase cardImg */
    width: 606px;
    height: 848px;
    object-fit: cover;
    max-width: 100%;
    height: auto;
}
