.textTitle {
    font-size: 20px;
    color: #44A0AA;
    font-weight: 600;
    line-height: 30px;
    font-family: "Lora", serif;
    margin-top: 20px;
}

.dimensionesContainer {
    display: flex;
    gap: 12px;
    padding-bottom: 20px;
}

.orientationButton {
    width: 128px;
    height: 46px;
    border-radius: 6px;
    border: 1px solid #D9D9D9;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.orientationButton.selected {
    background-color: #FB7B48; /* Color para el botón seleccionado */
    color: #fff;
} 