.botonEnmarcadoContainer {
    display: flex;
    width: 100%;
    height: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 0 1rem;
}

.botonEnmarcado {
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
    border: 1px solid #212559;
    background-color: #ffff;
    font-weight: bold;
    font-size: 11.2px;
    align-items: center;
}

.botonEnmarcado:hover {
    background-color: #FB7B48;
    color: #ffff;
}