.tamaniosContainer {
    display: flex;
    flex-direction: column;
}

.textTitle {
    font-size: 20px;
    color: #44A0AA;
    font-weight: 600;
    font-family: "Lora", serif;
}

.tamanioSelectContainer {
    display: flex;
    width: 100%;
    height: 40px;
    gap: 10px;
    align-items: center;
    align-content: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

.tamanioSelect {
    width: 68px;
    border-radius: 10px;
    text-align: center;
}

.gridDimensiones {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 8px;
    grid-row-gap: 8px;
    width: 100%;
    height: 111px;
    padding: 20px;
    background-color: lightgray;
    }