.tamaniosContainer {
    display: flex;
    flex-direction: column;
}

.textTitle {
    font-size: 20px;
    color: #44A0AA;
    font-weight: 600;
    line-height: 30px;
    font-family: "Lora", serif;
    margin-top: 20px;
}

.textSecondary {
    text-align: center;
    justify-content: center;
}

.tamanioSelectContainer {
    display: flex;
    width: 100%;
    justify-content: left;
    align-items: center;
    border: 1px solid #0000;
}

.tamanioSelect {
    height: 21px;
    width: 68px;
}

.gridDimensiones {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 8px;
    grid-row-gap: 8px;
    width: 100%;
    height: 111px;
    padding: 20px;
    background-color: lightgray;
    }