@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

.iconContainer {
    display: flex;
    width: 100%;  /* Ajusta el ancho al 100% del contenedor padre */
    max-width: 768px;
    height: 71px;  
    flex-direction: row;
    margin-top: 30px;
    align-items: center;
    justify-content: space-around;
    box-sizing: border-box;
    border: 1px solid #EBEFF2;
}

.iconText {
    line-height: 15px;  /* Ajusta la altura de línea para centrar el texto verticalmente */
    letter-spacing: 1px; /* Ajusta el espaciado entre letras */
}

.iconContainer__each:hover {
    cursor: pointer;
    color: #FB7B48;
}

.iconContainer__each {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  /* Centra el contenido horizontalmente */
}
