@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

.iconContainer {
    display: flex;
    justify-content: space-around;
  }
  
  .iconContainer__each {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
  }
  
  .iconContainer__each.selected, .iconContainer__each:hover {
    color: #FB7B48; /* Color para el icono seleccionado */
    font-weight: 600;
  }
  
  .iconText {
    margin-top: 5px;
  }
