.inputContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 180px;
    width: 100%;
    border: 1px solid #CFCFCF;
    position: relative; /* 游댳 Permite posicionar elementos dentro del cuadro */
}

.textTitle {
    font-size: 20px;
    color: #44A0AA;
    font-weight: 600;
    font-family: "Lora", serif;
    font-weight: semibold;
    text-align: center;
}

.textInput {
    height: calc(100% - 50px);
    width: 95%;
    display: flex;
    text-align: center;
    border-color: #CFCFCF;
    resize: none;
    overflow: auto;
}

.buttonContainer {
    margin-top: 10px;
    display: flex;
    justify-content: flex-end; /* 游댳 Bot칩n a la derecha */
    align-items: center;
    width: 100%;
    max-width: 600px;
    gap: 10px; /* Espacio entre el bot칩n y el mensaje */
}

.buttonSubmit {
    background-color: #FB7B48;
    height: 43px;
    width: auto;
    border-radius: 6px;
    color: #FFFF;
    border: 1px solid #D9D9D9;
}

.buttonSubmit:hover {
    background-color: #E6693A; /* Un poco m치s oscuro al pasar el mouse */
}

.message {
    font-size: 14px;
    color: green;
    font-weight: bold;
    position: absolute;
    left: 10px; /* 游댳 Alinea el mensaje a la izquierda dentro del cuadro */
    bottom: 10px; /* 游댳 Ubica el mensaje dentro del cuadro */
}

/* Estilos particulares  para pantalla de  1280px o menores */
@media (max-width: 1280px) {

    .message {
        font-size: 11px; /* Disminuye el tama침o de la tipografia  del mensaje */
        bottom: 15px; /* Modifica el espacio en la parte inferior.*/
    }
}